{
  "presets": ["next/babel"],
  "plugins": [
    "import-glob-array",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true, // false for dev (true)
        "displayName": true, // true for dev (false) - displayName: Add the style information to the class name
        "fileName": false, // fileName: Shows the name of the file containing the code
        "pure": true, // pure: Remove unused attributes
        "preprocess": false
      }
    ]
  ]
}
